NEXT_PUBLIC_REOWN_PROJECT_ID=b56e18d47c72ab683b10814fe9495694
NEXT_PUBLIC_SOLANA_CLUSTER=devnet
NEXT_PUBLIC_APP_URL=http://localhost:3000
EZRATE_RELAYER_PUBLIC_KEY=replace-with-devnet-relayer
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
